<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <title>Loggin</title> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../css/login.css') }}">
    <link rel="stylesheet" href="public/login.css"/>


<body>

    <div id="login">

    <span id="text"><h1>Login</h1></span>
    <form action="/login" id="login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
        <div class="flash_alerta">
            {{menssagem[0]}}
        </div>
    {% endif %}

    </div>
    
</body>

</html>